.btn{
    border-radius: 5px;
    text-align: center;
    font-weight: 600;
}

.btn-outline{
    background: white;
    border: 1.7px solid rgb(193, 187, 187);
    color: rgb(60, 57, 57);
}

.btn-fill{
    background: rgb(106, 220, 246);
    border: none;
    color: white;
    border: 1.7px solid rgb(106, 220, 246);
}