$color: #2a6f98;
.group-data{
    width: 20%;
    margin: .5em 0
}

.info-wrapper{
    padding: .5em 0;
}

.group-data-label{
    font-size: 10px;
    font-weight: 600;
}

.group-data-value{
    font-size: 13px;
    font-weight: 700;
    color: #2a6f98;
    padding-top: .5em;
}

.data-wrapper{
    padding: 1em 0;
}

.bottom-border{
    border-bottom: .2em solid rgb(237, 228, 228);
}