$color: #2a6f98;

.info-wrapper h4{
    color: $color;
    font-size: 14px;
}

.data-row{
    display: flex;
    flex-wrap: wrap;
}

.mobile-active-comp{
    border-bottom: 3px solid $color;
}

.comp-control{
    padding: .5em 0 .5em 1em;
    font-size: smaller;
}

.comp-control:not(:first-child){
    border-top: 1px solid;
}