$shadow: .5px .5px 8px rgb(219, 219, 219);
$pagination-background: rgb(234, 244, 254);

.dashboard-container{
    padding: 1.5em;
}

.overview-container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 2em;
    padding: 2em 0;
    width: fit-content;
}

.table-head th div, .pagination-left, .pagination-container, .pagination-right, .actions-container li{
    display: flex;
    align-items: center;
}

.lendsqr-table{
    width: 100%;
}

.lendsqr-table{
    padding: 1.5em;
    border-spacing: 0;
}

.table-head th div p{
    font-size: 12px;
}

.table-body tr td{
    padding: 1em 0;
}

.border-bottom{
    border-bottom: 1px solid black;
}

.pagination-container{
    margin-top: 1em;
}

.pagination-left{
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
}

.pagination-left select{
    width: fit-content;
    padding: 2px 4px;
    background: $pagination-background;
    border: none;
    border-radius: 2px;
    font-size: 15px;
    box-shadow: $shadow;
}

.page-decrement, .page-increment{
    padding: 2px 3px;
    background: $pagination-background;
    box-shadow: $shadow;
}

.pagination-container{
    justify-content: space-between;
}

.pagination-left select, .pages{
    margin: 0 .8em;
}

.actions-container{
    width:fit-content;
    position: absolute;
    box-shadow: $shadow;
    right: 2em;
    background: white ;
}

.actions-container li{
    padding: .5em 1.5em;
    color: rgb(38, 37, 37);
}

.actions-container li span{
    margin-left: .3em;
    font-size: 13px;
    font-weight: 600;
}

.table-container, .pages div{
    box-shadow: $shadow;
    border-radius: 10px;
}

.pages{
    display: flex;
    flex-direction: row;
}

.pages div{
    padding: 4px 10px;
    background: white;
    margin: 0 5px;
    cursor: pointer;
}

.active-page{
    background: #63c6c6!important;
    color: white;
    font-weight: 500;
}


@media screen and (max-width: 476px) {
    .overview-container div {
       width: 100%;
    }

    .card-icon {
        width: fit-content!important;
    }

    .pagetitle-container div button{
        width: 100%;
        margin: .8em 0;
    }
}

@media screen and (max-width: 500px){
    .data-wrapper .data-row .group-data{
        width: 50%!important;
    }
}

@media screen and (max-width: 961px){
    .data-wrapper .data-row .group-data{
        width: 33.3%;
    }
}

@media screen and (max-width: 1024px){
    .overview-container .card-overview{
        width: 100%;
    }
}

@media screen and (max-width: 1100px){
    .table-container{
        overflow-x: scroll;
        width: 100%;
    }
}

@media screen and (max-width: 1200px){
    .overview-container{
        display: flex;
        flex-wrap: wrap;
        padding: 1em 2em 0 0;
        margin-bottom: 1em;
    }

    .overview-container div{
        margin: .5em 0;
    }
}